<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Project Name</mat-label>
        <input matInput [(ngModel)]="project.projectName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Client</mat-label>
        <input matInput [(ngModel)]="project.clientName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Project Name</mat-label>
        <input matInput [(ngModel)]="project.projectName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput [(ngModel)]="project.startDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Statu</mat-label>
        <mat-select [(ngModel)]="project.status" placeholder="Select Client">
          <mat-option  value="done">
            DONE
          </mat-option>
          <mat-option value="ongoing">
            ONGOING
          </mat-option>
        </mat-select> 
      </mat-form-field>

      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="onSaveClick()">Save</button>
      </div>