.example-spacer {
  flex: 1 1 auto;
}

.menu {
  width: auto;
  height: 100%;

  /* The background property is added to clearly distinguish the borders between drawer and main
     content */
  background: #eee;
}

 .Contenu{
  height: 100% ;
 }

 #Main_page{
  height: 100%;
 }

 .left-menu{
  width: 300px;
 }

