<div id="main_page" class="flex flex-row p-10 h-100">
  <div *ngIf="!isLoginRoute()">
  <a routerLink="/">
    <mat-toolbar class="bg-slate-300">
      <!--logo of company -->
      <img src="assets/forage_logo.png" alt="logo" class="logo w-10 h-10">
      <span>Forage Discover</span>
      <span class="example-spacer"></span>
      <button mat-button (click)="logout()" class="logout-button bg-red-500">
        Logout
      </button>
    </mat-toolbar>
  </a>
  </div>
  <div class="content">
    <mat-drawer-container *ngIf="!isLoginRoute()" class="menu">
      <mat-drawer mode="side" class="left-menu" opened>
        <mat-list role="list">
          <mat-list-item role="listitem" routerLinkActive="active">
            <button routerLink="/personnels" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>people</mat-icon>
              Personnels
            </button>
          </mat-list-item>
          <mat-list-item role="listitem" routerLinkActive="active">
            <button routerLink="/clients" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>face</mat-icon>
              Clients
            </button>
          </mat-list-item>
          <mat-list-item role="listitem" routerLinkActive="active">
            <button routerLink="/projets" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>work</mat-icon>
              Projets
            </button>
          </mat-list-item>
          <mat-list-item role="listitem" routerLinkActive="active">
            <button routerLink="/stock" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>inventory</mat-icon>
              Stock
            </button>
          </mat-list-item>
          <mat-list-item role="listitem" routerLinkActive="active">
            <button routerLink="/factures" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>receipt</mat-icon>
              Factures
            </button>
          </mat-list-item>
        </mat-list>
      </mat-drawer>
      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
    <div *ngIf="isLoginRoute()" class="login-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
