<div class="container mx-auto p-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <!-- Existing cards with router links -->
    <a routerLink="/personnels">
      <mat-card class="flex flex-col items-center justify-center p-4 bg-blue-700 text-black h-48">
        <mat-icon class="text-6xl mb-2 text-orange-500">people</mat-icon>
        <mat-card-title class="mb-2">Personnel</mat-card-title>
        <mat-card-content>
          <p class="text-4xl">{{ personnelCount }}</p>
        </mat-card-content>
      </mat-card>
    </a>
    <a routerLink="/projets">
      <mat-card class="flex flex-col items-center justify-center p-4 bg-green-700 text-black h-48">
        <mat-icon class="text-6xl mb-2 text-blue-500">work</mat-icon>
        <mat-card-title class="mb-2">Projects</mat-card-title>
        <mat-card-content>
          <p class="text-4xl">{{ projectCount }}</p>
        </mat-card-content>
      </mat-card>
    </a>
    <mat-card class="flex flex-col items-center justify-center p-4 bg-yellow-600 text-black h-48">
      <mat-icon class="text-6xl mb-2 text-blue-500">autorenew</mat-icon>
      <mat-card-title class="mb-2">Ongoing Projects</mat-card-title>
      <mat-card-content>
        <p class="text-4xl">{{ ongoingProjects }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="flex flex-col items-center justify-center p-4 bg-red-700 text-black h-48">
      <mat-icon class="text-6xl mb-2 text-green-500">check_circle</mat-icon>
      <mat-card-title class="mb-2">Completed Projects</mat-card-title>
      <mat-card-content>
        <p class="text-4xl">{{ completedProjects }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="flex flex-col items-center justify-center p-4 bg-purple-700 text-black h-48">
      <mat-icon class="text-6xl mb-2 text-orange-500">attach_money</mat-icon>
      <mat-card-title class="mb-2">Total Cost</mat-card-title>
      <mat-card-content>
        <p class="text-sm">MAD{{ totalCost }}</p>
      </mat-card-content>
    </mat-card>
    <!-- New cards with router links -->
    <a routerLink="/stock">
      <mat-card class="flex flex-col items-center justify-center p-4 bg-indigo-700 text-black h-48">
        <mat-icon class="text-6xl mb-2 text-yellow-500">inventory</mat-icon>
        <mat-card-title class="mb-2">Stock</mat-card-title>
        <mat-card-content>
          <p class="text-4xl">{{ stockCount }}</p>
        </mat-card-content>
      </mat-card>
    </a>
    <a routerLink="/clients">
      <mat-card class="flex flex-col items-center justify-center p-4 bg-teal-700 text-black h-48">
        <mat-icon class="text-6xl mb-2 text-pink-500">group</mat-icon>
        <mat-card-title class="mb-2">Clients</mat-card-title>
        <mat-card-content>
          <p class="text-4xl">{{ clientCount }}</p>
        </mat-card-content>
      </mat-card>
    </a>
    <a routerLink="/factures">
      <mat-card class="flex flex-col items-center justify-center p-4 bg-orange-700 text-black h-48">
        <mat-icon class="text-6xl mb-2 text-purple-500">receipt</mat-icon>
        <mat-card-title class="mb-2">Factures</mat-card-title>
        <mat-card-content>
          <!-- small text that shows the amount of factures -->
          <p class="text-4xl">{{ factureCount }}</p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>